.container{
    background-color: black;
    color: white;
    height: 200vh;
    overflow-y: auto;
    width: 25%;
}
.user{
cursor: pointer;
font-size: 2rem;
}
.userselected{
    cursor: pointer;
    font-size: 2rem;
    background-color: red;
}
.expenses{
    cursor: pointer;
    font-size: 2rem;
}
.expensesselected{
    cursor: pointer;
    font-size: 2rem;
    background-color: red;
}